//theme-banner-one
.theme-banner-one {
    padding-top: 107px;
    padding-bottom: 100px;
    padding-left: 85px;
    padding-right: 85px;
    position: relative;
    z-index: 1;

    .shape-1 {
        position: absolute;
        right: 55%;
        top: 39%;
        animation: rotation infinite linear 55s;
    }

    .main-title {
        color: $title2;
        font-size: 120px;
        line-height: 1;
        margin-bottom: 22px;
    }

    .hero-description {
        color: $body-text-color2;
        font-size: 28px;
        line-height: 45px;
        margin-bottom: 58px;
    }

    .bstyle {
        padding: 29px 50px 26px 50px;

        &::before {
            background: $theme-color2;
        }

        &:hover {
            color: $white;
        }
    }

    .bstyle-2 {
        overflow: visible;
        color: $body-text-color2;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        border: 1px solid $body-text-color2;
        padding: 28px 75px 25px 35px;
        display: inline-flex;
        align-items: center;
        background: $white;
        border-radius: 40px;
        position: relative;
        z-index: 1;

        &::before {
            display: none;
        }

        .popup-video {
            color: $white;
            width: 75px;
            height: 75px;
            color: $black;
            font-size: 35px;
            line-height: 75px;
            border-radius: 50%;
            background: $theme-color2;
            position: absolute;
            right: -37px;
            top: 0;

            i {
                color: $white;
            }
        }

        &:hover {
            color: $body-text-color2;
            background: $theme-color;
            border-color: $theme-color;
        }
    }

    .main-img {
        position: relative;
        z-index: 1;
    }

    .hero-img {
        position: relative;

    }

    .card-shape {
        position: absolute;
        left: -8%;
        bottom: 42px;
        z-index: 2;
    }

    .rating-box {
        h3 {
            color: $title2;
            font-weight: 500;
            font-size: 28px;
            font-family: $satoshiMedium;
        }

        span {
            color: rgba(0, 0, 0, 0.5);
            font-family: $satoshiRegular;
            font-weight: 400;
        }
    }

    @media #{$max-xxl} {
        padding-left: 0;
        padding-right: 0;
        padding-top: 100px;

        .main-title {
            font-size: 65px;
            line-height: 1.5;
        }

        .main-img {
            width: 80%;
            margin-left: 0;
        }

        .hero-img {

            .shape-4,
            .shape-5 {
                display: none;
            }
        }
    }

    @media #{$max-lg} {

        p {
            font-size: 22px;
            max-width: 100%;
        }

    }

    @media #{$max-md} {

        p {
            font-size: 18px;
        }

    }

    @media #{$max-xs} {

        .main-title {
            font-size: 45px;
        }

        p {
            font-size: 20px;
            line-height: 34px;
            max-width: 100%;
        }

        .bstyle {
            padding: 29px 30px 26px 30px;
        }
    }
}

.hero-rating {
    a {
        font-size: 23px;
        color: $body-text-color2;
        display: inline-block;
        margin-right: 5px;
    }
}

//theme-banner-two
.theme-banner-two {
    background: #DEEBDC;
    padding-top: 260px;
    padding-bottom: 145px;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;

    .main-title {
        color: $heding;
        font-size: 100px !important;
        line-height: 1;
        margin-bottom: 27px;
    }

    p {
        color: $body-text-color;
        font-size: 28px;
        line-height: 45px;
        margin-bottom: 50px;
        max-width: 99%;
    }

    .sub-title {
        font-size: 22px;
        font-family: $satoshiMedium;
        font-weight: 500;
        margin-bottom: 54px;
    }

    .rating-box {
        h3 {
            color: $heding;
            font-weight: 500;
            font-size: 28px;
            font-family: $satoshiMedium;
        }

        span {
            color: rgba(0, 0, 0, 0.5);
            font-family: $satoshiRegular;
            font-weight: 400;
        }
    }

    .hero-rating {
        a {
            color: $body-text-color;
        }
    }

    .user-content-wrap-1 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .card-shape {
        position: absolute;
        left: -12%;
        bottom: 70px;
        animation: float-bob-y infinite linear 5s;
    }

    .bs-style {
        color: $theme-color2;
        background: $theme-color;
        border-radius: 40px;
        padding-top: 28px;
        padding-bottom: 26px;

        &::before {
            background: $theme-color2;
        }

        &:hover {
            color: $white;
        }
    }

    .bstyle-2 {
        overflow: visible;
        color: $heding;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        border: 2px solid $black;
        padding: 8px 10px 8px 40px;
        display: inline-flex;
        align-items: center;
        background: $white;
        border-radius: 40px;
        position: relative;
        z-index: 1;

        &::before {
            display: none;
        }

        .popup-video {
            color: $white;
            width: 55px;
            height: 55px;
            color: $black;
            font-size: 25px;
            line-height: 55px;
            border-radius: 50%;
            background: $black;

            i {
                color: $white;
            }
        }

        &:hover {
            color: $body-text-color2;
            background: $theme-color;
            border-color: $theme-color;
        }
    }


    @media #{$max-laptop} {
        padding-left: 15px;
        padding-right: 15px;

        .main-title {
            font-size: 75px;
        }

        p {
            font-size: 22px;
        }
    }

    @media #{$max-lg} {

        .main-title {
            font-size: 65px;
        }

        p {
            font-size: 22px;
        }


    }

    @media #{$max-md} {

        padding-top: 200px;
        padding-bottom: 100px;

        .main-title {
            font-size: 45px;
            line-height: 1.3;
        }

        p {
            font-size: 18px;
            line-height: 34px;
        }
    }

    @media #{$max-xs} {
        padding-left: 0;
        padding-right: 0;

        .main-title {
            font-size: 35px;
            margin-bottom: 40px;
        }

        p {
            font-size: 20px;
            line-height: 34px;
            max-width: 100%;
        }

        .bstyle2 {
            display: none;
        }

        .hero-subscribe-form {
            button {
                position: relative;
                height: 55px;
                width: 100%;
                border-radius: 40px;
                border: 2px solid #000;
                margin-top: 15px;
            }
        }
    }
}

.hero-subscribe-form {
    width: 100%;
    max-width: 666px;
    position: relative;
    z-index: 1;

    input {
        width: 100%;
        height: 80px;
        border: 2px solid $black;
        color: $body-text-color;
        font-size: 18px;
        font-family: $satoshiRegular;
        padding-left: 30px;
        border-radius: 40px;

        &::placeholder {
            color: $body-text-color;
            font-size: 18px;
        }

        &::-moz-placeholder {
            color: $body-text-color;
            font-size: 18px;
        }

        &::-webkit-placeholder {
            color: $body-text-color2;
            font-size: 18px;
        }

        &::-o-placeholder {
            color: $body-text-color;
            font-size: 18px;
        }

        &::-ms-placeholder {
            color: $body-text-color;
            font-size: 18px;
        }
    }

    button {
        color: $body-text-color;
        font-size: 18px;
        font-family: $radioCanada;
        border: 2px solid $black;
        border-left: 0;
        font-weight: 600;
        line-height: 1;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        display: inline-block;
        background: $theme-color;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 0 40px 40px 0;
        height: 100%;
        padding: 0px 37px 0 37px;
        z-index: 2;
        @include transition(.4s);

        &:hover {
            color: $white;
            background: $theme-color2;
        }
    }
}


 
 

//theme-banner-five
.theme-banner-five {
    padding-bottom: 0px ;
     padding-top: 0px !important;
    padding-left: 100px;
    padding-right: 38px;
    position: relative;

    .main-title {
        color: $heding;
        font-size: 120px;
        line-height: 1;
        margin-bottom: 27px;
    }

    p {
        color: $body-text-color;
        font-size: 28px;
        line-height: 45px;
        margin-bottom: 40px;
        max-width: 99%;
    }


    .rating-box {
        h3 {
            color: $heding;
            font-weight: 500;
            font-size: 28px;
            font-family: $satoshiMedium;
        }

        span {
            color: rgba(0, 0, 0, 0.5);
            font-family: $satoshiRegular;
            font-weight: 400;
        }
    }

    .hero-rating {
        a {
            color: $body-text-color;
        }
    }


    .card-shape {
        position: absolute;
        left: -144px;
        bottom: 77px;
        animation: float-bob-y infinite linear 5s;
    }

    .card-shape-2 {
        position: absolute;
        right: 42px;
        top: 48px;
        z-index: 1;
    }

    .bs-style {
        color: $theme-color2;
        background: $theme-color;
        border-radius: 40px;
        padding-top: 28px;
       // padding-bottom: 26px;

        &::before {
            background: $theme-color2;
        }

        &:hover {
            color: $white;
        }
    }

    .bstyle-2 {
        overflow: visible;
        color: $heding;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        border: 2px solid $black;
        padding: 8px 10px 8px 40px;
        display: inline-flex;
        align-items: center;
        background: $white;
        border-radius: 40px;
        position: relative;
        z-index: 1;

        &::before {
            display: none;
        }

        .popup-video {
            color: $body-text-color;
            width: 55px;
            height: 55px;
            color: $black;
            font-size: 25px;
            line-height: 55px;
            border-radius: 50%;
            background: $theme-color;

            i {
                color: $white;
            }
        }

        &:hover {
            color: $body-text-color2;
            background: $theme-color;
            border-color: $theme-color;

            .popup-video {
                background: $theme-color2;
            }
        }
    }

    .hero-subscribe-form {
        input {
            border-radius: 15px;
        }

        button {
            border-radius: 0 15px 15px 0;
            @include transition(.4s);

            &:hover {
                color: $white;
                background: $theme-color2;
            }
        }
    }


    @media #{$max-laptop} {
        padding-left: 15px;
        padding-right: 15px;

        .main-title {
            font-size: 75px;
        }

        p {
            font-size: 22px;
        }
    }

    @media #{$max-lg} {
        padding-top: 0px !important;
        .main-title {
            font-size: 65px;
        }

        p {
            font-size: 22px;
        }


    }

    @media #{$max-md} {
       
        padding-top: 0px !important;
        .main-title {
            font-size: 65px;
            line-height: 1.3;
        }

        p {
            font-size: 18px;
            line-height: 34px;
        }
    }

    @media #{$max-xs} {
        padding-left: 0;
        padding-right: 0;

        .main-title {
            font-size: 45px;
            margin-bottom: 40px;
        }

        p {
            font-size: 20px;
            line-height: 34px;
            max-width: 100%;
        }

        .bstyle2 {
            display: none;
        }

        .hero-subscribe-form {
            button {
                position: relative;
                height: 55px;
                width: 100%;
                border-radius: 40px;
                border: 2px solid #000;
                margin-top: 15px;
            }
        }
    }
}


//user list thumb
.user-list,
.feedback-user-list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    list-style: none;
    padding-bottom: 25px;
    border-radius: 70px;
    width: max-content;

    img {
        border-radius: 50%;
        border: 4px solid $white;
    }

    li {
        margin-left: -18px;
        position: relative;
        z-index: 1;

        &:first-child {
            margin-left: 0;
        }
    }

    .number {
        border-radius: 50%;
        background: #000;
        font-size: 20px;
        color: $white;
        width: 65px;
        height: 65px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 4px solid $white;
    }
}

// .user-list-2 {
//     padding: 0;
//     margin: 0;
//     display: flex;
//     align-items: center;
//     list-style: none;

//     li {
//         margin-left: -18px;
//         position: relative;
//         z-index: 1;

//         &:first-child {
//             margin-left: 0;
//         }
//     }

//     img {
//         border-radius: 50%;
//         border: 4px solid $white;
//     }

//     .number {
//         border-radius: 50%;
//         background: #000;
//         font-size: 20px;
//         color: $white;
//         width: 65px;
//         height: 65px;
//         display: inline-flex;
//         align-items: center;
//         justify-content: center;
//         border: 4px solid $white;
//     }
// }